@font-face {
	font-family: "Geomanist";
	src: url('./fonts/Geomanist-Regular.otf');
	font-weight: 400;
	font-display: fallback;
}
@font-face {
	font-family: "Geomanist";
	src: url('./fonts/Geomanist-Medium.otf');
	font-weight: 500;
	font-display: fallback;
}
@font-face {
	font-family: "Geomanist";
	src: url('./fonts/Geomanist-Bold.otf');
	font-weight: 700;
	font-display: fallback;
}