html, body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Geomanist", sans-serif;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #2D3047;
}

canvas {
  display: block;
}

header {
  background-color: #C7DBE6;
  color: #333;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-weight: 200;
}

.container {
  display: flex;
  flex-direction: row;
}

#sketch {
  max-width: 85%;
}

#detail {
  max-width: 15%;
  padding-top: 40px;
}

ul {
  text-align: left;
  font-size: 9pt;
}

li {
  padding: 1pt 0;
}

/* .true-investor {
  color:
}

.false-investor {
  color:
} */

/* ul li .top-company {
  color: "#758E4F";
}

ul li  .top-investor {
  color: "#758E4F";
} */

ul { 
  list-style: none;
  padding-left: 15px;
}

ul li::before {
  content: "\25C6"; 
  font-size: 10px;
  padding-right: 5px;
}

li {
  position: relative;
  left: 10px;
}