html, body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Geomanist", sans-serif;
  text-align: center;
  width: 100%;
  color: white;
}

canvas {
  display: block;
}

h1 {
  background-color: #C7DBE6;
  color: #333;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  font-weight: 200;
}

.container {
  display: flex;
  flex-direction: row;
}

#sketch {
  max-width: 85%;
}

#detail {
  max-width: 15%;
}

ul {
  text-align: left;
  font-size: 10pt;
}

/* .true-investor {
  color:
}

.false-investor {
  color:
} */

/* ul li .top-company {
  color: "#758E4F";
}

ul li  .top-investor {
  color: "#758E4F";
} */
